.MenuWrapper {
  display: inline-flex;
}

.MenuButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;
  flex-direction: column;
  gap: 2px;
}

.BurgerLine {
  width: 1.5rem;
  height: 0.2rem;
  border-radius: 20px;
  border: 2px solid var(--grey-600);
}

.MenuButton:hover {
  filter: brightness(95%);
}

.DropdownMenuArrow {
  fill: var(--grey-500);
}

.DropdownMenuContent {
  min-width: 180px;
  background-color: white;
  border-radius: 6px;
  padding: 12px;
  margin-right: 1rem;
  border: 1px solid var(--grey-500);
}

.DropdownMenuItem {
  display: flex;
  align-items: center;
  padding: 10px 2px;
  padding-left: 10px;
  user-select: none;
  outline: none;
}

.DropdownMenuLink {
  cursor: pointer;
}

.DropdownMenuSeparator {
  height: 1px;
  background-color: var(--grey-500);
  margin: 5px;
}

.DropdownMenuLabel {
  display: flex;
  align-items: center;
  padding: 10px 2px;
  padding-left: 5px;
  font-size: 14px;
  text-transform: uppercase;
}
