.ProductCardWrapper {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: var(--product-card-border-radius);
  border: 1px solid var(--grey-300);
  display: flex;
  flex-direction: column;
  transition-duration: 0.4s;
}

.ProductCardWrapper:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.ImageWrapper {
  width: 100%;
  height: 350px;
  position: relative;
}

.ProductCardContents {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.ProductPrice {
  font-weight: 500;
}

.ProductRemaining {
  color: var(--grey-500);
}
