.ProductDetailsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.ProductImageWrapper {
  width: 100%;
  height: 300px;
  max-width: 500px;
  position: relative;
}

.ProductDetails {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.Row {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.RowLabel {
  color: var(--grey-500);
  text-transform: uppercase;
}

.RedeemButton {
  padding: 10px 12px;
  border-radius: 5px;
  font-family: var(--font-interstate-lightbold);
  font-size: 1rem;
  font-weight: 500;
  border: none;
  color: white;
  cursor: pointer;
  width: 50%;
  background: linear-gradient(90deg, #bd98ba, transparent) #99b9c8;
  transition: background-color 0.5s;
}

.RedeemButton:hover,
.RedeemButton:focus {
  background-color: #9da6c5;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@media (min-width: 400px) {
  .ProductImageWrapper {
    height: 400px;
  }
}

@media (min-width: 500px) {
  .ProductImageWrapper {
    height: 500px;
  }
}

@media (min-width: 700px) {
  .ProductDetailsWrapper {
    flex-direction: row;
    align-items: flex-start;
  }

  .ProductImageWrapper {
    max-width: 300px;
    height: 300px;
  }
}

@media (min-width: 900px) {
  .ProductDetailsWrapper {
    padding: 2rem 1rem;
    gap: 3rem;
  }

  .ProductImageWrapper {
    max-width: 400px;
    height: 400px;
  }
}
