.MarketplaceBarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.AvailableProducts {
  display: flex;
  gap: 10px;
}

.ProductCount {
  font-weight: 600;
}

.CurrencyFilterWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.CurrencyFilterLabel {
  display: none;
}

.CurrencyButtonGroup {
  width: min-content;
  display: flex;
  gap: 3px;
  background-color: var(--grey-200);
  border: 1px solid var(--grey-300);
  border-radius: 0.25rem;
  padding: 5px;
}

.CurrencyButton {
  font-family: var(--font-interstate-light);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  background-color: var(--grey-200);
  border: var(--grey-200);
  border-radius: 0.25rem;
  padding: 8px 20px;
  cursor: pointer;
  width: 80px;
}

.CurrencyButton:hover {
  filter: brightness(95%);
}

.active {
  border: 1px solid var(--grey-300);
  background-color: white;
}

.active:hover {
  filter: none;
}

@media (min-width: 700px) {
  .MarketplaceBarWrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .CurrencyFilterLabel {
    display: inline;
  }
}
